{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-left md-whiteframe-z2" locked-open="gt-sm"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo"><strong>Bloggie-GEN</strong></div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}

        {{#paper-item}}
          {{#if isLoggedin}}
            Welcome back, <b>{{username}}</b>!
          {{else}}
            Please log in.
          {{/if}}
        {{/paper-item}}

        {{#paper-item action="transitionTo" param="index"}}Login/Register{{/paper-item}}
        {{paper-divider}}
        {{#paper-item action="transitionTo" param="dashboard" target="dashboard"}}Dashboard{{/paper-item}}
        {{paper-divider}}
        {{#paper-item action="transitionTo" param="blogs" target="blogs"}}All Blogs{{/paper-item}}
        {{paper-divider}}
        {{#paper-item action="transitionTo" param="about" target="about"}}About{{/paper-item}}
        {{paper-divider}}

      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
  {{#paper-toolbar}}
    <div class="md-toolbar-tools">
    {{#paper-sidenav-toggle as |toggle|}}
      {{#paper-button target=toggle action="toggleMenu" icon-button=true}}{{paper-icon icon="menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <span class="md-breadcrumb-page">{{params}}</span>
    </div>
  {{/paper-toolbar}}
  {{#paper-content class="md-padding"}}

    {{outlet}}

  {{/paper-content}}
  </div>
{{/paper-nav-container}}
